<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main
  class="wp-block-group"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
  <!-- wp:pattern {"slug":"online-courses-fse/hero/default"} /-->
  <!-- wp:pattern {"slug":"online-courses-fse/features/default"} /-->
  <!-- wp:pattern {"slug":"online-courses-fse/courses/default"} /-->
  <!-- wp:pattern {"slug":"online-courses-fse/categories/default"} /-->
  <!-- wp:pattern {"slug":"online-courses-fse/partners/default"} /-->
  <!-- wp:pattern {"slug":"online-courses-fse/pricing/default"} /-->
  <!-- wp:pattern {"slug":"online-courses-fse/reviews/default"} /-->
  <!-- wp:pattern {"slug":"online-courses-fse/about-us/default"} /-->
  <!-- wp:pattern {"slug":"online-courses-fse/instructors/default"} /-->
  <!-- wp:pattern {"slug":"online-courses-fse/faq/default"} /-->
  <!-- wp:pattern {"slug":"online-courses-fse/cta/default"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
