<!-- wp:template-part {"slug":"announcement-bar","area":"uncategorized","tagName":"div"} /-->
<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:template-part {"slug":"page-hero","area":"uncategorized","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","anchor":"wp--skip-link--target","className":"site-main tv3-page-full-main","layout":{"type":"default"}} -->
<main id="wp--skip-link--target" class="wp-block-group site-main tv3-page-full-main">
	<!-- wp:post-content {"layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
